.admin-page-form-container {
    width: 65%;
    height: auto;
    background-color: #121212;
}

.admin-page-form-text {
    text-transform: bold;
}

.admin-page-search-box {
    margin: 2% 2.5%;
    width: 95%;
}

.admin-page-search-container {
    width: 100%;
    height: 12%;
    background-color: #121212;
    margin: 0.5%;
}

.admin-page-results {
    margin-top: 5%;
    width: 100%;
    height: 86%;
}

.admin-page-recently-new {
    width: 100%;
    height: 65vh;
    overflow: scroll;
}